.fic-progress-bar {
  display: block;
  display: flex;
  height: var(--size-default);
  border-radius: var(--size-base);
  box-shadow: 0 0 0 1px var(--color-fsa-tertiary-200) inset;
}
.fic-progress-bar--small {
  height: calc(var(--size-base) + 2px);
  border: 0;
}
.fic-progress-bar--segmented {}

.fic-progress-bar__item {
  background-color: var(--progress-bgc--complete);
  display: inline-block; /* fallback */
  border: 1px solid rgba(0,0,0,.05);
  border-left: 0;
  transition: all .23s ease-in-out;
}
.fic-progress-bar__item:first-child {
  border-left: 1px solid rgba(0,0,0,.1);
  border-radius: var(--size-base) 0 0 var(--size-base);
}
.fic-progress-bar__item:last-child {
  border-radius: 0 var(--size-base) var(--size-base) 0;
}
.fic-progress-bar__item:only-child {
  border-radius: var(--size-base) 0 0 var(--size-base);
}
.fic-progress-bar--extra-small .fic-progress-bar__item {
  border: 0
}

.fic-progress-bar__item--rejected {
  background-color: var(--progress-bgc--rejected);
}
.fic-progress-bar__item--complete {
  background-color: var(--progress-bgc--complete);
}
.fic-progress-bar__item--in-progress {
  background-color: var(--progress-bgc--in-progress);
}
.fic-progress-bar__item--assigned {
  background-color: var(--progress-bgc--assigned);
}
.fic-progress-bar__item--not-started {
  background-color: var(--progress-bgc--not-started);
  border: 0;
}
