{{#> ../layouts/base title='index' }}

  {{#*inline "header-block"}}
    <h1>index.hbs</h1>
    <p>[header-block]</p>
  {{/inline}}


  {{#*inline "main-block"}}
    <p>[main-block]</p>
  {{/inline}}

{{/../layouts/base }}
