{{#> ../layouts/base title='Inspections - FIC' }}

  {{#*inline "main-block"}}

    <div class="fsa-section">
      <div class="fsa-section__bd">
        <h1>Inspections</h1>

        <div hidden>

          <p>Tooltip <code>&lt;a&gt;</code> <a href="link.html" class="fic-tooltip" aria-label="Label">esse non enim</a> quisquam.</p>
          <p>Tooltip <code>&lt;span&gt;</code> <span tabindex="0" class="fic-tooltip" aria-label="Label longer for whatever reason">lorem ipsum</span> yshgua.</p>
          <p>Tooltip <code>&lt;span&gt;</code> <span tabindex="0" class="fic-tooltip" aria-label="Label really for some moronic reason, let's avoid doing this since the tooltip component is meant for really low-key labels">really long label</span> yshgua.</p>
          <p>Tooltip <code>.fsa-label</code> <span tabindex="0" class="fsa-label fic-tooltip" aria-label="Label">lorem ipsum</span> yshgua.</p>
          <p>Tooltip <code>.fsa-badge</code> <span tabindex="0" class="fsa-badge fic-tooltip" aria-label="Label">5</span> yshgua.</p>

          <div class="fsa-m-t--m">
            {{> ../components/fic-progress
              CLASS="fic-tooltip"
              FOCUSABLE="true"
              LABEL="7 of 10"
              LABEL-VALUE="70%"
            }}
          </div>

          <div class="fsa-m-t--m">
            {{> ../components/fic-progress
              VARIATION=""
              CLASS="fic-tooltip fic-tooltip--include-value"
              FOCUSABLE="true"
              LABEL="Overall Progress"
              LABEL-VALUE="33%"
              VALUENOW="TRUE"
            }}
          </div>

          <div class="fsa-m-t--m">
            {{> ../components/fic-progress
              VARIATION="small"
              CLASS="fic-tooltip fic-tooltip--include-value"
              FOCUSABLE="true"
              LABEL="Progress"
              LABEL-VALUE="67%"
              VALUENOW="TRUE"
            }}
          </div>

        </div>

        <div class="fsa-m-t--m">
          <!-- #PARTIAL "progress-bar.hbs"  -->
          <span class="fic-progress-bar" aria-label="Overall Progress" aria-valuenow="80%">
            <span tabindex="0" class="fic-progress-bar__item fic-progress-bar__item--rejected fic-tooltip fic-tooltip--include-value" aria-label="Rejected" aria-valuenow="4%" style="width:4%"><span class="fic-progress-bar__text">4%</span></span>
            <span tabindex="0" class="fic-progress-bar__item fic-progress-bar__item--complete fic-tooltip fic-tooltip--include-value" aria-label="Complete" aria-valuenow="47%" style="width:47%"><span class="fic-progress-bar__text">47%</span></span>
            <span tabindex="0" class="fic-progress-bar__item fic-progress-bar__item--in-progress fic-tooltip fic-tooltip--include-value" aria-label="In Progress" aria-valuenow="10%" style="width:10%"><span class="fic-progress-bar__text">10%</span></span>
            <span tabindex="0" class="fic-progress-bar__item fic-progress-bar__item--assigned fic-tooltip fic-tooltip--include-value" aria-label="Assigned" aria-valuenow="25%" style="width:25%"><span class="fic-progress-bar__text">25%</span></span>
            <span tabindex="0" class="fic-progress-bar__item fic-progress-bar__item--not-started fic-tooltip fic-tooltip--include-value" aria-label="Not Started" aria-valuenow="20%" style="width:20%"><span class="fic-progress-bar__text">20%</span></span>
          </span>
          <!-- /PARTIAL "progress-bar.hbs"  -->
        </div>

        {{> ../components/inspection-hd }}
        {{> ../components/table/fic-inspections }}
        {{> ../components/pagination/pagination }}

      </div>
    </div>

  {{/inline}}

  {{#*inline "hidden-block"}}
    <!-- HIDDEN - FOR MODALS/GROWL CONTENT -->
    {{> ../includes/hidden }}
    <!-- /HIDDEN -->
  {{/inline}}

  {{#*inline "aoux-pt-block"}}
    {{> ../includes/aoux-pt-strip inspections="true" }}
  {{/inline}}

{{/../layouts/base }}
