
/* [name] **********************************************************************/

/* TO BE MOVED TO fsa-style ****************************************************/

.fsa-nav-global__list {
  z-index: 2;
}

.fsa-table__th--sticky {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  background-color: #f8fafc;
  z-index: 1;
  box-shadow: 0 1px 0 0 var(--color-fsa-tertiary-200);
}

/* PROTOTYPE ONLY *************************************************************/
.TBD {
  margin-top: var(--size-medium);
  background-color: white;
  border: 1px solid var(--color-fsa-tertiary-200);
  padding: 12px;
  padding: 1.2rem;
  text-align: center;
  font-size: 72px;
  font-weight: bold;
  color: var(--color-fsa-tertiary-100);
  text-shadow: -1px -1px 0 var(--color-fsa-tertiary-200);
}

.aoux-pt-strip {
  background-color: #f2f2f2;
  border-bottom: 1px solid #b6b4b6;
  font-size: 11px;
  padding: 6px;
  position: relative;
}
.aoux-pt-strip button {
  padding: 1px 2px;
  line-height: 1;
  cursor: pointer;
}

.yo {
  color: red;
  position: absolute;
  z-index: 9999;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 var(--size-default) rgba(0, 0, 0, .6);
  background-color: rgba(255, 0, 150, 1);
  color: white;
  padding: var(--size-default);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.yo:hover {
  background-color: rgba(200, 0, 150, 1);
}
