:root {
  --progress-bgc: #E1F3F8;
}

/* [name] **********************************************************************/

/* FIC Styles ******************************************************************/

.fic-inspections /* table */ {

}
.fic-inspections__select-column /* th,td */ {
  width: 36px;
}
.fic-inspections__select-item /* span */ {
  padding-left: 8px;
}
.fic-inspections__select-item .fsa-checkbox + label {
  margin-right: 0;
}
.fic-inspections__status {
  transition: all 2s ease-in-out
}

/*
Rejected | Logged | Assigned | In Progress | Complete
   0         25       50           75          100
*/

.fic-inspections__status--0 {}
.fic-inspections__status--1 {
  background:
    linear-gradient(
      90deg,
      var(--progress-bgc) 5075%,
      var(--progress-bgc) 5075%,
      transparent 0%,
      transparent 100%
    )
  ;
}
.fic-inspections__status--2 {}
.fic-inspections__status--3 {}
.fic-inspections__status--4 {}

/* TO BE MOVED TO fsa-style ****************************************************/

.fsa-table__th--sticky {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  background-color: #f8fafc;
  z-index: 2;
  box-shadow: 0 1px 0 0 #dbdad9;
}

/* PROTOTYPE ONLY *************************************************************/
.TBD {
  margin-top: 24px;
  background-color: white;
  border: 1px solid #dbdad9;
  padding: 12px;
  padding: 1.2rem;
  text-align: center;
  font-size: 72px;
  font-weight: bold;
  color: #f0f0f0;
  text-shadow: -1px -1px 0 #dbdad9;
}
