{{#> ./layouts/base title='FIC - Main Page' }}

  {{#*inline "main-block"}}

    <main id="main-content" tabindex="-1">
      <div class="fsa-section">
        <div class="fsa-section__bd">
          
          <h1>Inspections</h1>
          
          {{> ./includes/inspection-hd }}

          {{> ./components/table/table-inspections }}
          
          {{> ./components/pagination/pagination }}

        </div>
      </div>
    </main>

  {{/inline}}

  {{#*inline "hidden-block"}}
    <!-- HIDDEN - FOR MODALS/GROWL CONTENT -->
    {{> ./includes/hidden }}
    <!-- /HIDDEN -->
  {{/inline}}

{{/./layouts/base }}
