<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
{{> ../includes/head title=title }}
<body>
  {{> ../includes/skipnav }}
  {{> ../includes/fsa-browser-upgrade }}

  <div class="aoux-pt-strip">
    <ul class="fsa-list--inline fsa-m--none fsa-text-align--center">
      <li>
        <strong>Filter</strong>
        <button data-prototype-show="#pt__filter-alt-1" data-prototype-hide="#pt__filter-alt-2" type="button">1</button>
        <button data-prototype-show="#pt__filter-alt-2" data-prototype-hide="#pt__filter-alt-1" type="button">2</button>
      </li>
      <li>
        <strong>Progress</strong>
        <button data-prototype-show="#pt__progress-alt-1" data-prototype-hide="#pt__progress-alt-2" type="button">1</button>
        <button data-prototype-show="#pt__progress-alt-2" data-prototype-hide="#pt__progress-alt-1" type="button">2</button>
      </li>
    </ul>
    <div class="yo" title="Click to close">
      &uarr; &uarr; &uarr; &uarr; Yo, up here &uarr; &uarr; &uarr; &uarr;
    </div>
  </div>

  {{#> header-block}}
  <header>
    {{> ../components/tophat/tophat }}
    {{> ../components/header-app/header-app }}
    {{> ../components/global-nav/global-nav }}
  </header>
  {{/header-block}}

  {{#> main-block}}
  <!-- BASE main-block -->
  {{/main-block}}

  {{#> footer-block}}
  <footer>
    {{> ../components/footer/footer-topper }}
    {{> ../components/footer/footer-footer }}
    {{> ../components/footer/footer-screen-id }}
  </footer>
  {{/footer-block}}

  {{#> hidden-block}}
  <!-- BASE hidden-block -->
  {{/hidden-block}}

  {{#> scripts-block}}
  <!-- BASE scripts-block -->
  {{/scripts-block}}

</body>

</html>
